.advanced-timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: visible;
    margin-top: 20px;
}

.wrapper-advanced-timeline {
    overflow-y: scroll;
    height: 800px;
    position: relative;
}

.point {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: #fff;
    background-color: #3f51b5;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    min-width: 100px;
    width: 120px;
    border: none;
    overflow: hidden;
}

.subdivision {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 8px;
    background: #283474;
    transform-origin: center top;
    transition: transform 0.1s ease, 0.5s ease, opacity 0.2s ease;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 9px;
    /* transition: transform 1s ease, top 1s ease, 1s ease, opacity 0.2s ease; */
}

.subdivision-zoom {
    transform: scale(1.5, 2.6);
    /* margin-top: 213px;
    margin-bottom: 213px; */
    /* position: absolute;
    top: 265px; */
    margin-top: 13px;
    margin-bottom: 459px;
    z-index: 200;

}

.wrapper-point {
    height: 52px;
    width: 140px;
    overflow: hidden;
    transform-origin: center;
    transition: transform 0.1s ease, 0.5s ease, opacity 0.2s ease;
}

.wrapper-point-visible {
    /* height: 0px;
    width: 0px; */
    display: block;
    transform: scale(1.5);
    /* position: absolute; */
}

.wrapper-point-visible-next {
    /* height: 0px;
    width: 0px; */
    display: block;
    transform: scale(2);
    /* position: absolute;
    top: 728px; */
}

.sub-point {
    height: 13px;
    width: 20px;
    background-color: #f4f4f5;
    border-radius: 50%;
    margin-left: -8px;
    border: 2px solid #283574;
}

.wrapper-sub-point {
    display: none;
    width: fit-content;
}

.display-flex {
    display: flex;
}