.advanced-timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: visible;
    margin-top: 20px;
}

.wrapper-advanced-timeline {
    overflow-y: scroll;
    height: 655px;
    position: relative;
}

.grid1 {
    grid-column: 1;
    grid-row: 1;
}

.point {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #fff;
    background-color: #3f51b5;
    padding: 8px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    width: 126px;
    border: none;
    overflow: hidden;
    outline: none;
    cursor: pointer;
}

.subdivision {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 8px;
    background: #283474;
    transform-origin: center top;
    transition: transform 0.1s ease, 0.5s ease, opacity 0.2s ease;
    gap: 25px;
    padding-top: 25px;
    padding-bottom: 14px;
    cursor: pointer;
}

.subdivision-zoom {
    transform: scale(1.8);
    margin-top: 5px;
    margin-bottom: 235px;
}

.wrapper-point {
    height: 43px;
    width: 136px;
    overflow: visible;
    transform-origin: center;
    transition: transform 0.1s ease, 0.5s ease, opacity 0.2s ease;
}

.wrapper-point-visible {
    display: block;
    transform: scale(1.2);
    pointer-events: none;
}

.wrapper-point-visible-next {
    /* height: 0px;
    width: 0px; */
    display: block;
    transform: scale(2);
    /* position: absolute;
    top: 728px; */
}

.sub-point {
    height: 14px;
    width: 14px;
    background-color: #f4f4f5;
    border-radius: 50%;
    margin-left: -5px;
    border: 2px solid #283574;
    cursor: pointer;
}

.wrapper-sub-point {
    display: none;
    width: fit-content;
}

.display-flex {
    display: flex;
}

.sub-info-card {
    margin-left: 60px;
    height: 60px;
    width: 150px;
    background-color: transparent;
    margin-top: -20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transform: perspective(200px) translateZ(-100px);
    transition: transform 0.5s ease, 0.5s ease, opacity 0.2s cubic-bezier(0.4, 0, 1, 1);
}

.wrapper-sub-point:nth-of-type(2n) .sub-info-card{
    margin-left: -200px;
}

.sub-info-card-front-text {
    margin: auto;
    font-size: 10px;
    font-weight: bold;
    pointer-events: none;
}

.info-card-front-text {
    margin: auto;
    font-size: 16px;
    font-weight: bold;
    pointer-events: none;
}

.sub-info-card-inner {
    position: relative;
    width: 100%;
    height: 100%;;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    background-color: transparent;
    border-radius: 5px;
}
  
.sub-info-card-front, .sub-info-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.sub-info-card-front {
    display: flex;
    border: 2px solid #283574;
    background-color: #f5f7ff;
    padding: 5px 10px;
    font-size: 11px;
    text-align: center;
    transition: transform 0.6s;
}

.sub-info-card-back {
    display: flex;
    border: 2px solid #283574;
    background-color: #9cd13a;
    padding: 5px 10px;
    font-size: 11px;
    text-align: center;
    transition: transform 0.6s;
    transform: rotateY(180deg);
    flex-direction: column;
}

.flip-180 {
    transform: rotateY(180deg);
}

.flip-0 {
    transform: rotateY(0deg);
}

.display {
    display: block;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.overlay {
    width: 7000%;
    height: 120%;
    background: rgb(255, 255, 255);
    display: none;
    position: absolute;
    top: -33px;
    left: -300px;
    z-index: 200;
    cursor: default;
}

.focused-info-card {
    margin-top: -30px;
    width: 350px;
    margin-left: -230px;
    height: 270px;
    z-index: 2;
}

.wrapper-sub-point:nth-of-type(2n) .focused-info-card {
    margin-left: 35px;
}

.info-card  {
    margin-left: 400px;
    height: 70px;
    width: 200px;
    border: 2px solid #283574;
    background-color: #ffffff;
    margin-top: -60px;
    padding: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    opacity: 0;
    display: flex;
    transition: transform 0.8s ease, 0.5s ease, opacity 0.2s cubic-bezier(0.6, -0.28, 0.74, 0.05);
}

.appear-info-card {
    opacity: 1;
    transform: translateX(-220px);
}

.appear-sub-info-card {
    opacity: 1;
    transform: perspective(200px) translateZ(0px);
    pointer-events: auto;
}

.info-textbox {
    background: rgb(187, 227, 141);
    border: 1px solid rgb(85, 139, 22);
    border-radius: 5px;
    margin: auto;
    height: 90%;
    width: 90%;
    text-align: center;
    outline: none;
    pointer-events: none;
}

.back-header {
    font-size: 15px;
    pointer-events: none;
}

.disappear {
    opacity: 0;
    pointer-events: none;
    cursor: default;
}